<app-header [back]="true" headerText="Examen"></app-header>

<ion-content>
  <ion-grid style="margin-top: 7%">
    <ion-row style="margin-left: 2.5%">
      <h4>¿Qué es la electrostática?</h4>
    </ion-row>

    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        La electrostática es la rama de la Física que analiza los efectos mutuos
        que se producen entre los cuerpos como consecuencia de sus cargas
        eléctricas, es decir, el estudio de las cargas eléctricas en equilibrio.
        La carga eléctrica es la propiedad de la materia responsable de los
        fenómenos electrostáticos, cuyos efectos aparecen en forma de
        atracciones y repulsiones entre los cuerpos que la poseen.
      </h6>
      <br />
      <h6 style="margin: 0">
        El objeto de estudio de la electrostática es la electricidad estática,
        definida como el fenómeno producido entre dos cuerpos que han acumulado
        una carga eléctrica, ya sea por inducción o por fricción.
      </h6>
    </ion-row>
  </ion-grid>
</ion-content>
